* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
}

body {
    background-color: #20292b;
    font-family: Arial, Helvetica, sans-serifs;
}


.header {
    border-bottom: 1px solid var(--color-black);
    height: 5rem;
    text-align: center;
    display: flex;
    background: black;
    color: white;
    font-weight: bold;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 2.7rem;
}

.title {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.text {
    font-family: 'Oswald', sans-serif;
    letter-spacing: .4px;
    font-size: 1.2rem;

}

.blog-page2 {
    background-image: url(./imgpage2/imagepage2.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    position: relative;
}

.blog-page2-text {
    position: absolute;
    bottom: 0;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.529);
}

.blog-page2-title {
    font-size: 1.4rem;
    color: white;
}

.blog-page2-subtitle {
    font-size: .8rem;
    color: #a8a8a8;
}

/*info*/

.info-page2-title,
.info-page2-title2,
.info-page2-title3,
.info-page2-title4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    color: #ff6300;
}

.info-page2-article {
    /*display: flex;
    flex-direction: column;
    gap: 1rem;*/
    color: white;
}

.info {
    color: white;
}

.page2-ol1,
.page2-ol2 {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-left: 2rem;
    font-size: .9rem;
}

.page2-ol1 {
    padding-bottom: 1rem;
}

.page1-images {
    margin-top: 1rem;
    background-image: url(./imgpage2/trenirovka-v-sportivnom-zale-dlja-novichka_15999865541045270353.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
}







.footer {
    background-color: black;

}

.footer-content {
    padding: 1rem;
}

.footer-top {
    padding-top: 1rem;
    display: flex;
    gap: .5rem;
    align-items: center
}

.footer-logo {
    width: 2.7rem;
}

.footer-title {
    font-family: 'Oswald', sans-serif;
    letter-spacing: .4px;
    font-size: 1.2rem;
    color: white;
}

.footer-label {
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    color: #ff6300;

}

.footer-text {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    gap: .5rem;
}

.footer-link {
    font-size: .9rem;
    color: white;
    text-decoration: none;
    color: #b6b6b6;

}

.end {
    padding: .5rem;
    border-top: 1px solid #6b6b6b6e;
}

.end-text {
    color: #6b6b6b6e;
    text-align: center;
    font-size: .8rem;
}

.article-footer {
    padding-bottom: 1rem;
}